:root {
	--link-color: #fed136;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	position: relative;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.618;
	color: #333333;
	background: #ffeeee; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#ddefbb,
		#ffeeee
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#ddefbb,
		#ffeeee
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#notfound {
	position: relative;
	height: 100vh;
	background-color: #222;
}
#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.notfound {
	max-width: 460px;
	width: 100%;
	text-align: center;
	line-height: 1.4;
}
.notfound .notfound-404 {
	height: 158px;
	line-height: 153px;
}
.notfound .notfound-404 h1 {
	font-family: josefin sans, sans-serif;
	color: #222;
	font-size: 220px;
	letter-spacing: 10px;
	margin: 0;
	font-weight: 700;
	text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}
.notfound .notfound-404 h1 > span {
	text-shadow: 2px 2px 0 #ffab00, -2px -2px 0 #ffab00, 0 0 8px #ff8700;
}
.notfound p {
	font-family: josefin sans, sans-serif;
	color: #c9c9c9;
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 15px;
}
.notfound a {
	font-family: josefin sans, sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: transparent;
	color: #c9c9c9;
	border: 2px solid #c9c9c9;
	display: inline-block;
	padding: 10px 25px;
	font-weight: 700;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.notfound a:hover {
	color: #0026ff;
	border-color: #ffab00;
}

div.dropdown a span.text {
	display: none;
}

div.dropdown-menu a.dropdown-item:hover {
	color: #fed136;
	border-bottom: 1px solid #fed136;
}
@media only screen and (max-width: 500px) {
	div.dropdown a span.text {
		display: inline-flex;
	}
	div.dropdown.notif .dropdown-menu a {
		max-width: 100%;
		word-wrap: break-word;
		overflow: hidden;
	}
	div.dropdown.notif a {
		display: block;
		text-align: left;
		margin-bottom: 5px;
	}
	.notfound .notfound-404 {
		height: 122px;
		line-height: 122px;
	}
	.notfound .notfound-404 h1 {
		font-size: 122px;
	}
}
p:last-child {
	margin: 0px;
}
a {
	text-decoration: none;
	color: #8d8f90;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
a:focus,
a:hover {
	text-decoration: none;
	color: #f85759;
}

.page-header {
	background: url(https://easetemplate.com/free-website-templates/hike/images/pageheader.jpg)
		no-repeat;
	position: relative;
	background-size: cover;
}
.page-caption {
	padding-top: 170px;
	padding-bottom: 174px;
}
.page-title {
	font-size: 46px;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	text-align: center;
}

.card-section {
	position: relative;
	bottom: 60px;
}
.card-block {
	padding: 80px;
}

/* =aspirasi */
.card.aspirasi {
	position: relative;
	overflow: hidden;
}
.aspirasi-type .nav-item .nav-link.active,
.aspirasi-type .nav-item .nav-link:hover {
	color: #0f5792 !important;
	background-color: transparent !important;
	border-bottom: 2px solid #0f5792;
}
.aspirasi-type .nav-item .active {
	color: white !important;
}

/* //profile */
.profile {
	text-align: center;
}
.profile img {
	max-width: 160px;
	width: 100%;
	margin: 0 auto;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	-o-transform: translate3d(0, -50%, 0);
	-ms-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}
.profile .name {
	margin-top: -80px;
}
.profile .name .title {
	margin-top: 30px;
	margin-bottom: 25px;
	min-height: 32px;
	color: #3c4858;
	font-weight: 700;
	font-family: "Roboto Slab", "Times New Roman", serif;
}
.complaint-meta {
	font-size: 14px;
}
.meta-info {
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.meta-info.is-active,
.meta-info.loading {
	color: #da6d08;
}

.meta-info::after,
.meta-info.loading::after,
.meta-info.is-active::after {
	content: "";
	width: 0%;
	height: 4px;
	background: #fed136; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#da6d08,
		#fed136
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#da6d08,
		#fed136
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: absolute;
	left: 50%;
	bottom: 0%;
	border-radius: 10px;
	transition: all 500ms ease;
}
.meta-info:hover::after,
.meta-info.is-active::after {
	left: 0%;
	width: 100%;
}

.meta-info.loading::after {
	animation: borderKu 0.3s infinite alternate;
}

.full {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	height: 100%;
}
.full:hover {
	cursor: none;
}
.cursor {
	pointer-events: none;
	cursor: none;
	position: relative;
}
.loader {
	pointer-events: none;
	cursor: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fed136;
	font-size: 34px;
}

@keyframes borderKu {
	0% {
		left: 50%;
		width: 0%;
	}
	100% {
		left: 0%;
		width: 100%;
	}
}

.identitas {
	padding-left: 60px;
}

form.komentar {
	overflow: hidden;
}
.komentar > textarea,
.komentar > textarea:focus {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	resize: none;
	box-shadow: none;
	color: #868686;
}

.komentar .label-komentar,
.komentar .label-komentar::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: all 0.5s ease;
}
.komentar .label-komentar {
	bottom: 0;
	border-bottom: 1px solid #868686;
}
.label-komentar::after {
	content: "";
	bottom: -1px;
	border-bottom: 3px solid var(--link-color);
	transform: translateX(100%);
}

.label-text {
	position: absolute;
	top: 10px;
	left: 0;
	transition: all 0.5s ease;
}
.submit-komentar {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.komentar textarea:focus + .label-komentar:after,
.komentar textarea:valid + .label-komentar:after {
	transform: translateX(0);
}
.komentar textarea:focus + .label-komentar .label-text,
.komentar textarea:valid + .label-komentar .label-text {
	transform: translateY(-10px);
	font-size: 14px;
	color: var(--link-color);
}

/* 
scroll menu 
*/
.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

.dropdown-menu span.komentar {
	font-size: 12px;
}

/* =animation loading background */
@keyframes placeHolderShimmer {
	0% {
		background-position: 0px 0;
	}
	100% {
		background-position: 100em 0;
	}
}

.c-animated-background {
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: fff;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top: 50px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
/* =komentar */
.list-komentar {
	transition: all 500ms, opacity 0.5s linear;
}

/* header */
header.masthead {
	position: relative;
}
header.masthead::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: #000;
	opacity: 0.45;
}
